@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)) ,url(rock.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #aec6cf9a;
    padding: 20px;
    border: 1px solid #6d6d6d;
    font-size: 18px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.innavbar{
    font-size: 40px;
    margin-left: 30px;
}

#e{
    color:#7acb77;
}
.navbar .atag a{
    margin-left: 60px;
    color: #000;
    text-decoration: none;
}

#edge{
    margin-right: 100px;
}

.atag a:hover{
    text-decoration: underline;
}

.headline{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: block;
    font-size: 50px;
    margin-left: 20px;
}

.lineone{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 90px;
    background-color: rgba(240, 248, 255, 0.5);
    margin-right: 400px;
}

.linetwo{
    background-color: rgba(240, 248, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 400px;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    color: #013220;
}

.name:hover{
    font-size: 100px;
    text-decoration: underline;
}

.job{
    font-family: Arial, Helvetica, sans-serif;
    color: #00008B;
    color: rgb(119, 158, 203);
}

.job:hover{
    font-size: 100px;
    text-decoration: underline;
}

p{
    font-family: "Poetsen One", sans-serif;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background: rgba(240, 248, 255, 0.514);
    margin-right: 20px;
}

.images img{
    width: 650px;
    height:400px;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
    background-color: burlywood;
}

.Portfolio{
    background: linear-gradient(rgba(86, 174, 87,0.3),rgba(86, 174, 87, 0.651),rgba(119, 158, 203,0.7),rgba(119, 158, 203,0.9));
    border: 2px solid #000;
}

.Portfolio h1{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-family: "Poetsen One", sans-serif;
    text-decoration: underline;
    padding: 20px;
}

footer{
    height: 100px;
    width: 100%;
    background-color: #000;
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    margin: 10px;
}

.i{
    margin-left: 300px;
}




